body {
    margin: 0;
    font-family: 'Brush Script MT', cursive;
}

p {
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

#strip {
    width: 300px; 
    height: 200px; 
    vertical-align: baseline;
    padding-right: 50px;
}

.header {
    background-color: lightgrey;
    overflow: hidden;
}

.content {
    border-top: 4px solid black;
    padding-top: 25px;
} 